---
layout: default
title: Blog
tags: blog
---
<div class="posts">
{% for blog in site.blog %}
<div class="post py3">
         <p class="post-meta">{{ blog.date | date: site.date_format }}</p>
          <a href="{{ blog.url | prepend: site.baseurl }}" class="post-link"><h3 class="h1 post-title">{{ blog.title }}</h3></a>
          <p class="post-summary">
            {% if blog.summary %}
              {{ blog.summary }}
            {% else %}
              {{ blog.excerpt }}
            {% endif %}
          </p>
	</div>
{% endfor %}
</div>
