---
layout: page
title: Boardgames
tags: boardgames
---
<div class="posts">
{% for boardgame in site.boardgames %}
<div class="post py3">
          <p class="post-meta">{{ post.date | date: site.date_format }}</p>
          <a href="{{ boardgame.url | prepend: site.baseurl }}" class="post-link"><h3 class="h1 post-title">{{ boardgame.title }}</h3></a>
          <p class="post-summary">
            {% if post.summary %}
              {{ post.summary }}
            {% else %}
              {{ post.excerpt }}
            {% endif %}
          </p>
	</div>
</div>
{% endfor %}

<!--
{% for boardgame in site.boardgames %}
	<div class="boardgame">
		<h2><a href="{{ boardgame.url }}">{{ boardgame.title }}</a></h2>
	</div>
{% endfor %}
-->
